body {
  background: url("../public/Images/Background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

#CardImage {
  height: 180px;
  width: 180px;
  display: flex;
  justify-content: center;
}
